@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot');
  src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),
  url('../fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),
  url('../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
  url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
  url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
  url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
  url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
  url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
  url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
  url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
  url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
  src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
  url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
  url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),
  url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
html,
body {
  background-color: #011627;
  color: #fdfffc;
  direction: rtl;
  font-family: "IRANSans", sans-serif;
  text-align: right;
  font-weight: 100;
}
.container.main {
  padding-top: 2em;
}
h1 {
  font-weight: 700;
  font-size: 1.8em;
}
h2 {
  font-weight: 400;
  font-size: 1.4em;
}
h3 {
  font-weight: 400;
  font-size: 1.1em;
}
p {
  font-weight: 300;
  font-size: 1em;
}
.subtitle {
  color: #0087cb;
}
.stats .row span {
  display: block;
  font-weight: 900;
  font-size: 1.5em;
}
/** MAP **/
.subunit {
  fill: #2ec4b6;
  stroke: #011627;
}
.status-low {
  fill: #ff9f1c;
}
.status-low:hover {
  fill: #8d5100;
}
.status-medium {
  fill: #f35e29;
}
.status-medium:hover {
  fill: #862807;
}
.status-high {
  fill: #e71d36;
}
.status-high:hover {
  fill: #750c19;
}
.subunit-label {
  fill: #fdfffc;
  fill-opacity: 0.8;
  /* font-size: 20px; */
  font-weight: 700;
  text-anchor: middle;
  cursor: default;
  pointer-events: none;
}

a,
a:hover {
  color: #fff;
}

.legend span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.4em;
  /* margin-left: 0.1em; */
}
.legend .none {
  background-color: #2ec4b6;
}
.legend .low {
  background-color: #ff9f1c;
}
.legend .medium {
  background-color: #f35e29;
}
.legend .high {
  background-color: #e71d36;
}
.stats {
  padding:10px;
  background-color: #001f38;
  border: 1px solid #003865;
}
.stats > .row {
  border-bottom: 1px solid #003865;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 10px;
}
.stats > .row:last-child {
  border-bottom: none;
}
#totalCases,#newCases,
#pTotalCases,#pNewCases {
  color: rgb(230, 0, 0)
}
#totalRecoveries, #newRecoveries,
#pTotalRecoveries, #pNewRecoveries {
  color: rgb(112, 168, 0);
}
#totalFatalities, #newFatalities,
#pTotalFatalities, #pNewFatalities {
  color: rgb(134, 134, 134);
}